<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>WingmanHelper</string>
    <key>CFBundleIdentifier</key>
    <string>ie.duggan.Wingman.Helper</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <!-- Only our Developer-ID-signed app (this Team ID) may install/manage this daemon. -->
    <key>SMAuthorizedClients</key>
    <array>
        <string>identifier "ie.duggan.Wingman" and anchor apple generic and certificate leaf[subject.OU] = "PSPQTHW392"</string>
    </array>
</dict>
</plist>
